/* profile.css */
@font-face {
    font-family: 'Co Headline Trial Regular';
    src: url('/static/servey/fonts/CoHeadlineTrialRegular.otf') format('opentype');

}

@font-face {
    font-family: 'Co Headline Trial Bold';
    src: url('/static/servey/fonts/CoHeadLine_Trial_Bd.ttf') format('opentype'); /* Changed from Django template tag */
}

/* General styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Co Headline Trial Regular', sans-serif;
    background-color: #003962;
    background-image: url('/static/servey/images/Background.png');
}

/* Base styles for the form container */
.main-container {
    padding: 20px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.reviews {
    position: relative; /* Keep the container relative */
    text-align: center; /* Center the text horizontally */
    margin: 20px 0; /* Add some vertical spacing */
}

.reviews-image {
    width: 50%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
}

.reviews-text {
    position: absolute; /* Position text absolutely within the relative container */
    top: 10%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to truly center the text */
    color: #0a90cc; /* Change to your preferred text color */
    font-size: 24px; /* Adjust as needed */
    font-family: "Co Headline Trial Bold", sans-serif; /* Ensure font matches your design */
}


.position-relative {
    position: relative;
}

.text-layer-image2 {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #0a90cc;
    font-family: "Co Headline Trial Bold", sans-serif;
    text-align: center;
    font-size: 23px !important;
    background-color: 0a90cc;
}

.reviews {
    position: relative; /* Ensures the text is positioned relative to this container */
    text-align: center; /* Centers the text horizontally */
    margin: 20px 0; /* Adds vertical spacing */
}

.reviews-image {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
}

/* Updated class for the text */
.review_text_before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #070707;
    font-size: 10px;
    font-family: "Co Headline Trial Bold", sans-serif;
    font-weight: bold;
}

/* Make the images transparent for the specific text */
.col-md-4:nth-of-type(2) .reviews-image, /* Text 2 */
.col-md-4:nth-of-type(4) .reviews-image, /* Text 4 */
.col-md-4:nth-of-type(6) .reviews-image { /* Text 6 */
    opacity: 0.5; /* Adjust transparency level, 0.5 means 50% transparent */
}

/* Ensure the text remains visible */
.col-md-4:nth-of-type(2) .review_text_before,
.col-md-4:nth-of-type(4) .review_text_before,
.col-md-4:nth-of-type(6) .review_text_before {
    color: #070707; /* Keep text fully visible */
}



.profileForm{
    font-family: "Co Headline Trial Bold", sans-serif;
    color: #0a90cc;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10%;
}

/* Form styles */
.form-container {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 800px;
    font-family: "Co Headline Trial Bold", sans-serif;
    color: #0a90cc;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #0a90cc;;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.after-form {
    position: relative;
    text-align: center;
    margin: 20px auto;
}

.after-form-image {
    width: 60% !important; /* Increase the image size */
    height: auto !important;
    border-radius: 10px !important;
}

.overlay-text-after-form {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-family: "Co Headline Trial Bold", sans-serif !important;
    color: #0a90cc !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

.overlay-text-after-form h3 {
    margin-bottom: 10px !important;
    font-size: 18px !important; /* Decreased h3 font size */
}

.overlay-text-after-form p {
    font-size: 12px !important;
    line-height: 1.5 !important;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 8px !important;
        padding: 10px;
    }

    .form-group.row {
        display: flex;
        flex-direction: column;
    }

    .form-group .col-md-6 {
        width: 100%;
        padding: 0;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-container {
        padding: 15px;
        margin: 10px;
    }
    .reviews-text {
        font-size: 9px; /* Adjust the font size for mobile */
        top: 2%; /* Center vertically */

    }
    .reviews-image {
        width: 70%; /* Make the image responsive */
        height: auto; /* Maintain the aspect ratio */
    }

    .after-form {
        position: relative;
        text-align: center;
        margin: 20px auto;
    }

    .after-form-image {
        width: 80% !important; /* Increased image size for mobile */
        height: auto !important;
    }

    .overlay-text-after-form {
        position: absolute;
        top: 40% !important; /* Adjusted to show the text in a more centered way */
        left: 50% !important;
        transform: translate(-50%, -40%) !important; /* Center text on the image */
        font-size: 12px !important; /* Adjusted text size */
        color: #0a90cc !important;
        padding: 10px !important;
        width: 80% !important; /* Adjust width */
    }

    .overlay-text-after-form h3 {
        font-size: 12px !important; /* Adjusted h3 size */
        margin-bottom: 0px !important; /* Add some space below h3 */
    }

    .overlay-text-after-form p {
        font-size: 5px !important; /* Text size for p */
        line-height: 1.4 !important; /* Adjust line height for better readability */
    }

}



/* Tablet Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .overlay-text {
        font-size: 1.4rem;
    }

    .form-container {
        max-width: 600px;
        padding: 20px;
    }

    .form-group .col-md-6 {
        width: 100%;
        padding: 0;
    }

    .form-group label {
        font-size: 1rem;
    }
    .reviews-text {
        font-size: 13px; /* Adjust the font size for tablets */
        top: 8%;
    }
    .overlay-text {
        font-size: 15px !important;
        padding: 10px;
    }
    .reviews-image {
        width: 50%; /* Make the image responsive */
        height: auto; /* Maintain the aspect ratio */
    }
    .after-form {
        position: relative;
        text-align: center;
        margin: 20px auto;
    }

    .after-form-image {
        width: 65% !important; /* Image size for tablet */
        height: auto !important;
    }

    .overlay-text-after-form {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-size: 18px !important;
        color: #0a90cc !important;
        padding: 15px !important;
        width: 70% !important;
    }

    .overlay-text-after-form h3 {
        font-size: 15px !important; /* Adjusted h3 size */
        padding-top: 10px !important;

    }

    .overlay-text-after-form p {
        font-size: 8px !important;
    }
}

/* Larger Screens */
@media (min-width: 1025px) {
    .overlay-text {
        font-size: 2rem;
    }

    .form-container {
        max-width: 800px;
        padding: 25px;
    }

    .form-group .col-md-6 {
        padding: 0 15px;
    }

    .form-group label {
        font-size: 1rem;
    }
    .reviews-text {
        font-size: 24px; /* Maintain the font size for larger screens */
    }
    .reviews-image {
        width: 60%; /* Make the image responsive */
        height: auto; /* Maintain the aspect ratio */
    }
    .after-form {
        position: relative;
        text-align: center;
        margin: 20px auto;
    }

    .after-form-image {
        width: 60% !important; /* Image size for larger screens */
        height: auto !important;
    }

    .overlay-text-after-form {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-size: 20px !important;
        color: #0a90cc !important;
        padding: 20px !important;
        width: 60% !important;
    }

    .overlay-text-after-form h3 {
        font-size: 22px !important; /* Adjusted h3 size */
        
    }

    .overlay-text-after-form p {
        font-size: 10px !important;
    }
}
